{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Soda Fountain</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="/static/global.css"> 
    </head>
    <body>
	<header>
		<div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'menu_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <div id="logo">{% block title %}<a href="/"><img src="/static/images/logo.png">{% endblock %}</a></div>
        </div>
	</header>
	<section>
		<div class="picture">
			<img src="/static/images/soda-983293_1280.jpg" />
		</div>
		{% block content %}{% endblock %}
	<section>
	</section>
	<footer>
		<p>Copyright © 2018 Soda Fountain, Inc.</p> 
	</footer>
    </body>
</html>