/*Global Style Sheet for Soda Fountain project
*
*
*/

body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	background: #e4e3e1;
}

h1 {
	text-align: center;
	font-size: 28px;
	margin-top: 40px;
	margin-bottom: 40px;
}

h2 {
	font-size: 24px;

}

h3 {
	font-size: 20px;
	font-weight: bold;
}

a:hover {
	color: darkblue;
	text-decoration: none;
}

ul {
	list-style-type: none;
}


button {
	border: solid 2px;
	background-color: transparent;
	color: darkblue;
}

button:hover {
	background-color: darkblue;
	color: white;
	border: solid 2px;
}

header {
	display: block;
	overflow: hidden;
	background: #fff;
}

footer {
	background: darkblue;
	height: 150px;
	text-align: center;
	color: white;
	padding: 40px;
}

.content {
	background: #fff;
}
.row {
	padding: 40px 100px 60px 100px;
	text-align: center;
}

#logo {
	text-align: center;
}
.page-header {
	border: none;
	color: #fff;
}

.page-header a {
	color: white;
}

.picture {
	display: block;
	background: darkblue;
}


.picture img {
	min-width: 200px;
	max-height: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.col-md-8{
	width: 100%;
	float: none;
}

